/* ☉ Debug Zone */
body
{
    background: center center no-repeat;
    /* background-image: url(../design/mobile-design.jpg); */
    /* background-image: url(../design/desktop-design.jpg); */
}

body article
{
    /* opacity: .1; */
    /* mix-blend-mode: multiply; */
}

/* ☉ Declaration */
/* Element, Article, Modifier */
@layer el, art, mod;

@font-face
{
    font-family: Inter;
    font-style: normal;
    font-weight: 400, 600, 700;
    font-display: swap;
    src: url(./res/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

:root
{
    --f-heading: Inter, serif;
    --f-text: Inter, sans-serif;

    --c-accent: hsl(75, 94%, 57%);

    --c-tx: hsl(0, 0%, 100%);
    --c-border: hsl(0, 0%, 20%);
    --c-bg: hsl(0, 0%, 8%);
    --c-lnk: hsl(75, 90%, 35%);

    --d-pad: 24px;
    --d-gap: 15px;

    /* Element */
    /* ... */

    /* Article */
    --art-pad: 23px;
    --art-gap: 27px;
    --art-c-btn: var(--c-border);
    --art-c-bg: hsl(0, 0%, 12%);

    /* Modifier */
    /* ... */
}

/* ☉ Main: mobile */
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    margin: 0;
    padding: var(--d-pad);
    min-height: 100vh;

    font-family: var(--f-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

    color: var(--c-tx);
    background-color: var(--c-bg);
}

@layer el
{
    a
    {
        text-decoration-color: transparent;

        color: var(--c-lnk);

        transition: text-decoration-color .3s ease-out;
    }

    a:hover
    {
        text-decoration-color: var(--c-accent);
    }

    .wrapper
    {
        position: relative;
    }

    footer
    {
        position: absolute;
        top: 100%;

        padding-block: var(--d-pad);
        width: 100%;

        line-height: 1.75;
        text-align: center;
    }
}

@layer art
{
    article
    {
        contain: paint;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--art-gap);

        box-sizing: border-box;
        border-radius: 13px;
        border: 1px solid transparent;
        border-top-color: var(--c-border);

        padding: var(--art-pad);
        max-width: 387px;
        min-width: 327px;
        width: 100%;

        text-align: center;

        background-color: var(--art-c-bg);
    }

    article > img
    {
        display: block;

        margin-bottom: 1px;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 88px;
    }

    article > header
    {
        padding-bottom: 4px;

        line-height: 1;
    }

    article > header h1
    {
        margin: 0 0 0.6em;

        font-size: 1.7em;
    }

    article > header address
    {
        font-weight: 600;
        font-style: normal;

        color: var(--c-accent);
    }

    article > q
    {
        display: block;

        line-height: 1;
    }

    article > nav
    {
        display: flex;
        flex-direction: column;
        gap: 17px;

        width: 100%;
    }

    article > nav a
    {
        display: block;

        border-radius: 7px;
        padding: var(--d-gap);

        font-weight: 700;
        line-height: 1;
        text-align: center;

        color: var(--c-tx);
        background-color: var(--art-c-btn);

        transition: color .3s ease-out, background-color .3s ease-out;
    }

    article > nav a:hover
    {
        color: var(--c-bg);
        text-decoration-color: transparent;
        background-color: var(--c-accent);
    }
}

@layer mod
{
    .hidden
    {
        visibility: hidden;
    }
}

/* ☉ Main: desktop */
@media screen and (min-width: 800px)
{
    :root
    {
        --art-pad: 41px;
    }

    @layer art
    {
        article > nav
        {
            min-width: 307px;
        }
    }
}