/* ☉ Debug Zone */
body
{
    background: top center no-repeat;
    /* background-image: url(../design/mobile-design.jpg); */
    /* background-image: url(../design/desktop-design.jpg); */
}

body > article
{
    /* opacity: .9; */
    /* mix-blend-mode: multiply; */
}

/* ☉ Declaration */
/* Element, Article, Modifier */
@layer el, art, mod;

@font-face
{
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./res/YoungSerif-Regular.ttf) format('truetype');
}

@font-face
{
    font-family: Outfit;
    font-style: normal;
    font-weight: 400, 600, 700;
    font-display: swap;
    src: url(./res/Outfit-VariableFont_wght.ttf) format('truetype');
}

:root
{
    --f-heading: 'Young Serif', serif;
    --f-text: Outfit, sans-serif;

    --c-accent: hsl(14, 45%, 36%);

    --c-second: hsl(332, 51%, 32%);
    --c-second-bg: hsl(330, 100%, 98%);

    --c-tx: hsl(24, 5%, 18%);
    --c-bold: hsl(30, 10%, 34%);
    --c-bg: hsl(30, 54%, 90%);
    --c-border: hsl(30, 18%, 87%);

    --d-pad: 31px;
    --d-gap: 33px;

    /* Element */
    --ls-gap: .5em;
    --ls-c-em: var(--c-bold);
    --ls-c-bullet: var(--c-accent);

    --dlist-c-term: var(--c-bold);
    --dlist-c-definition: var(--c-accent);
    --dlist-c-border: var(--c-border);

    /* Article */
    --art-pad: var(--d-pad);
    --art-gap: var(--d-gap);
    --art-c-border: var(--c-border);
    --art-c-heading: var(--c-accent);
    --art-c-bg: hsl(0, 0%, 100%);

    /* Modifier */
    --note-c-accent: var(--c-second);
    --note-c-bg: var(--c-second-bg);
}

/* ☉ Main: mobile */
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    margin: 0;

    font-family: var(--f-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--c-tx);
    background-color: var(--c-bg);
}

@layer el
{
    h1, h2
    {
        font-family: var(--f-heading);
    }

    p
    {
        margin: 0;
    }

    a
    {
        color: var(--c-accent);
    }

    footer
    {
        padding: var(--d-pad);
        text-align: center;
    }
}

@layer el.list
{
    :is(ul, ol)
    {
        list-style: none;
        margin: 0;
    }

    :is(ul, ol) li
    {
        position: relative;

        margin-bottom: var(--ls-gap);
    }

    :is(ul, ol) > li::before
    {
        position: absolute;

        display: block;

        color: var(--ls-c-bullet);
    }

    ul > li::before
    {
        content: '·';

        inset-block-start: 28%;
        inset-inline-start: -1em;

        font-size: 2em;
        line-height: .25;
    }

    ol > li
    {
        counter-increment: order 1;
    }

    ol > li::before
    {
        content: counter(order, decimal) '.';

        inset-block-start: .2em;
        inset-inline-start: -2.7ch;

        font-weight: 600;
        font-size: 1.1em;
        line-height: 1;
    }

    :is(ul, ol) > :last-child
    {
        margin-bottom: 0;
    }

    :is(ul, ol) li em
    {
        font-style: normal;
        font-weight: 700;

        color: var(--ls-c-em);
    }
}

@layer el.dlist
{
    dl
    {
        display: grid;
        grid-template-areas: 'term definition';
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;

        margin: 0;

    }

    dl > dt
    {
        grid-column: term;

        padding-left: var(--d-gap);

        font-weight: 600;

        color: var(--dlist-c-term);
    }

    dl > dd
    {
        grid-column: definition;

        margin: 0;
        padding-right: var(--d-gap);

        font-weight: 700;
        line-height: 1.5;
        text-indent: 0.8ch;

        color: var(--dlist-c-definition);
    }

    dl > :is(dt, dd)
    {
        box-sizing: border-box;
        border-bottom: 1px solid var(--dlist-c-border);
        padding-block: 12px;
    }

    dl > :last-of-type
    {
        border-bottom: none
    }
}

@layer art
{
    article
    {
        contain: paint;

        box-sizing: border-box;
        padding: var(--art-pad);
        max-width: 736px;

        background-color: var(--art-c-bg);
    }

    article > :is(header, aside, section)
    {
        margin-bottom: var(--art-gap);
    }

    article > .last-sect
    {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }
}

@layer art.header
{
    article > header img
    {
        margin: calc(var(--art-pad) * -1) calc(var(--art-pad) * -1) 0;

        min-height: 170px;
        width: calc(100% + var(--art-pad) * 2);
    }

    article > header > h1
    {
        margin: 1em 0 0.75em;

        font-weight: 600;
        font-size: 2.1em;
        line-height: 1.05;
        letter-spacing: .02em;

        color: var(--c-tx);
    }
}

@layer art.aside
{
    article > aside
    {
        border-radius: 12px;
        padding: 24px 26px;
    }

    article > aside > b
    {
        display: block;
        margin-bottom: .9em;

        font-weight: 700;
        font-size: 1.15em;
        line-height: 1;
        letter-spacing: 0.03em;

    }

    article > aside li em
    {
        font-weight: 600;
    }

    article > aside li::before
    {
        inset-inline-start: -1.05em;
    }
}

@layer art.sect
{
    article > section
    {
        border-bottom: 1px solid var(--art-c-border);
        padding-bottom: var(--art-pad);
    }

    article > section > h2
    {
        margin: 0 0 24px;

        font-weight: 400;
        font-size: 1.7em;
        line-height: 1;

        color: var(--art-c-heading);
    }

    article > section > p
    {
        margin-bottom: .7em;
    }

    article > section ul > li::before
    {
        inset-inline-start: -.98em;
    }
}

@layer mod
{
    .maw95p
    {
        max-width: 95%
    }
}

@layer mod.note
{
    .note
    {
        background-color: var(--note-c-bg);
    }

    .note > b
    {
        color: var(--note-c-accent);
    }

    .note :is(ul, ol)
    {
        --ls-c-bullet: var(--note-c-accent);
    }
}

/* ☉ Main: desktop */
@media screen and (min-width: 800px)
{
    :root
    {
        --art-pad: 40px;
        --art-gap: 33px;
    }

    body
    {
        padding: 123px 0;
    }

    @layer art
    {
        article
        {
            border-radius: 23px;
        }
    }

    @layer art.header
    {
        article > header img
        {
            margin: 0;

            border-radius: 12px;
            max-width: 660px;
            max-height: 300px;
        }

        article > header h1
        {
            margin: .94em 0 .6em;

            font-size: 2.4em;
            line-height: 1;
            letter-spacing: 0.001em;
        }
    }

    @layer art.aside
    {
        article > aside
        {
            padding: 28px 29px;
        }
    }

    @layer art.sect
    {
        article > section
        {
            padding-bottom: 32px;
        }
    }

    @layer mod
    {
        .mobi-only
        {
            display: none;
        }
    }
}